.main {
    // .main__content
    &__content {
    }
}

.content {
    // .content__main
    &__main {

        // .content__main__body
        &__body {
            max-width: 583px;
        }

        // .content__main__body__text
        &__body__text {
            color: #FFF;

            font-size: 56px;
            line-height: 1;

            font-weight: 900;
            font-style: normal;

            margin-bottom: 50px;
        }
    }
}
